@import 'mixins';
@import 'color';
@import 'reset';
@import 'base';
@import 'starter';


.cartes-liste {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    .cartes-liste__lara-carte {
        @include carte-ombre;
        @include carte-personnage;
        &:hover {
            @include carte-ombre-survol(-5px);
        }
        .lara-carte__fiche {
            .fiche__texte {
                @include personnage-paragraphe;
                .texte__perso {
                    @include personnage-nom-role;
                    .perso__nom {
                        @include personnage-nom;
                    }                      
                }
                .texte__description {
                    @include personnage-description;
                }
            }
        }
        .lara-carte__auteur {
            @include carte-auteur;
        }
    }
    .cartes-liste__boo-carte {
        @include carte-ombre;
        @include carte-personnage;
        &:hover {
            @include carte-ombre-survol(-5px);
        }
        .boo-carte__fiche {
            .fiche__texte {
                text-align: right;
                @include personnage-paragraphe;
                .texte__perso {
                    border-right: 0.7rem solid $orange;
                    padding-right: 2%;
                    .perso__nom {
                        @include personnage-nom;
                    }                      
                }
                .texte__description {
                    @include personnage-description;
                }
            }
        }
        .boo-carte__auteur {
            text-align: right;
            @include carte-auteur;
        }
    }
    .cartes-liste__sonic-carte {
        @include carte-ombre;
        @include carte-personnage;
        &:hover {
            @include carte-ombre-survol(-5px);
        }
        .sonic-carte__fiche {
            display: flex;
            .fiche__texte {
                @include personnage-paragraphe;
                .texte__perso {
                    @include personnage-nom-role;
                    .perso__nom {
                        @include personnage-nom;
                    }                      
                }
                .texte__description {
                    @include personnage-description;
                }
            }
        }
        .sonic-carte__auteur {
            text-align: center;
            @include carte-auteur;
        }
    }
}